<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Com qual combustível?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  img src="assets/img/logo.jpg">
  <div id="container">
    <ion-item>
      <ion-label position="floating">
        Preço da Gasolina 
      </ion-label>
      <ion-input type="number" [(ngModel)] ="gasolina"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Preço do Etanol
      </ion-label>
      <ion-input type="number" [(ngModel)] ="etanol"></ion-input>
    </ion-item>
    <div>
      <ion-button expand="block" (click)="verificar()">
        Verificar
      </ion-button>
    </div>
    <div class="imagem">
      <img src="assets/img/{{ imagem }}">
    </div>
  </div>
</ion-content>
